.input{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    color: #034261;
    font-size: 44px;
    font-family: "SRH Text App";
}

.inputText {
    width: 53rem;
    height: 9rem;
    margin: 1rem 0 1rem 0;
    padding-left: 1rem;
    border: 5px solid #006699;
    border-radius: 50px;
    font-size: 2.75rem;
}

.button{
    margin: 1rem;
    max-width: 37rem;

}

.button input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.button label{
    display: inline-block;
    background: white;
    width: 15rem;
    border: 5px solid #069;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 3rem;
    font-family: "SRH Text App";
    font-weight: 400;
}

.button input[type="radio"]:checked + label {
    background-color: #069;
    color: white;
}

.sex{
    margin: 0 0 0 1.5rem
}

.errorMessage{
    color: #E07754;
    font-size: 2.5rem;
}